html, body{
    padding: 0px;
    margin: 0;
    min-height: 100%;

}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #242f44;
    height:100vh;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 25px;
    font-size: 23px;
}

#table-dashboard {
    width: 100%;  
    table-layout: fixed;
}
  
#table-dashboard td:nth-child(2) {
    width: 270px;
    overflow-x: auto; 
    white-space: nowrap; 
}

.edit-th{
    padding: 15px;
}

td, th{
    padding: 28px;
    border: 1px solid #20c1d5;  
}

td{
    font-weight: 300;  
}

th {
    font-weight: 500;
    font-size: 27px;
    height: 40px;
}

.banner h3{
    font-weight: 560;
}

.banner{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-image: url('./img/banner_topo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    /* object-fit: cover; */
    color: #1ecee2;
}

.image{
    width: 345px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

@media only screen and (max-width: 580px) {
    td, th{
        padding: 20px; 
    }

    table{
        font-size: 15px;
    }

    #table-dashboard td:nth-child(2) {
        width: 130px;
    }

    .edit-th{
        padding: 4px;
    }

    .banner h3{
        font-size: 35px;
    }
    
    .image{
        width: 200px;
    }
  }